
@CHARSET "UTF-8";
*{
	margin:0px;
	padding:0px;
	font-family:'Microsoft Yahei',"simsun";
}

.row-fluid .span6 {
    width: 48.7179%;
}

.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
    width: 100%;
}

.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row::after {
    clear: both;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row::after {
    clear: both;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.dataTables_wrapper .row {
    margin-left: 0;
}

.table-toolbar {
    margin-bottom: 15px;
}


